:root{
    --primary-color: ##000000;
    --secondary-color: #ffa500;
}

.one{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    width: 10%;
}
.two{
    color: aqua;
}